[Unit]
Description=Autotrader Mongo Storage Service
After=docker.service

[Service]
Type=simple
ExecStart=/opt/firefly/storage/mongo-start.sh
ExecStop=/opt/firefly/storage/mongo-stop.sh
TimeoutStartSec=0
SuccessExitStatus=137

[Install]
WantedBy=multi-user.target
